@import "bootstrap-sprockets";
@import "bootstrap";

$primary-color: #8080ff;
$secondary-color: #d7d7ff;

.padded {
  padding-bottom: 80px;
  padding-top: 80px;
}
.color-container {
  background-color: $primary-color;
}

body {
  text-align: center;
  background-color: $secondary-color;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  h1 {
    font-size: 55px;
    padding-bottom: 18px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 40px;
    margin-bottom: 60px;
  }
  p {
    /* padding-top: 30px; */
    font-size: 20px;
    text-align: left;
  }
  ul {
  /* padding-top: 20px; */
  font-size: 25px;
  }
}

#heading {
  background-color: $primary-color;
  height: 400px;
  padding-top: 80px;
}

.experience {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  ul {
    font-size: 20px;
    text-align: left;
  }
}

.experience-frame {
  width: 80%;
  padding-bottom: 60px;
}

.experience-frame-entitled {
  font-weight: bold;
}

.experience-years {
  width: 10%;
}
