@import "bootstrap-sprockets";
@import "bootstrap";

$primary-color: #8080ff;
$secondary-color: #d7d7ff;

body {
  text-align: center;
  background-color: $secondary-color;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  h1 {
    font-size: 55px;
    padding-bottom: 18px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 40px;
  }
  p {
    padding-top: 30px;
    font-size: 20px;
    text-align: justify;
  }
}

.padded {
  padding: 50px;
}
.strap-content {
  background-color: $primary-color;
}

#heading {
  background-color: $primary-color;
  height: 400px;
  padding-top: 80px;
}

ul {
  padding-top: 20px;
  font-size: 25px;
}

