---
title: Denis Giraud
---
<div id="heading">
  <div>
    <h2>Hi, i am</h2>
    <h1>
      Denis Giraud
    </h1>
    <h2>I am a junior web developer</h2>
  </div>
</div>
<div class="padded">
  <div class="container">
    <h3>About me</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae
      culpa dolore voluptatum minus unde quisquam illo, recusandae assumenda
      porro deleniti architecto commodi ipsam ad. Nobis corporis, earum. Dolore,
      non fugiat. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Recusandae hic nesciunt similique fugit quia cumque quasi error facilis
      nobis, ex explicabo expedita, tenetur, repellendus iusto enim,
      assumenda illo neque vero.
    </p>
  </div>
</div>
<div class="color-container padded">
  <div class="container">
    <h3>Skills</h3>
    <ul class="list-inline">
      <li>ruby/rails</li>
      <li>html</li>
      <li>css</li>
    </ul>
  </div>
</div>
<div class="padded">
  <div class="container">
    <h3>Experience</h3>
    <div class="experience">
      <div class="experience-frame">
        <p class="experience-entitled">
          Formation Développeur Web
        </p>
        <p>
          Le Wagon Bordeaux
        </p>
      </div>
      <div>
        <p>2017</p>
      </div>
    </div>
    <div class="experience">
      <div class="experience-frame">
        <p class="experience-entitled">
          Divers Jobs alimentaire
        </p>
        <p>
          Plusieurs mission ponctuel
        </p>
      </div>
      <div>
        <p>2013-2017</p>
      </div>
    </div>
    <div class="experience">
      <div class="experience-frame">
        <p class="experience-entitled">
          Licence professionnelle Systèmes embarqués, systèmes mécatroniques et
          éco-conception
        </p>
        <p>
          Paris Est Créteil Val de Marne
          (licence interrompue au bout de 4 mois pour non
          obtention de contrat d’apprentissage avec une entreprise).
        </p>
      </div>
      <div>
        <p>2012</p>
      </div>
    </div>
    <div class="experience">
      <div class="experience-frame">
        <p class="experience-entitled">
          Divers Jobs alimentaire
        </p>
        <p>
          Plusieurs mission ponctuel
        </p>
      </div>
      <div>
        <p>2011-2012</p>
      </div>
    </div>
    <div class="experience">
      <div class="experience-frame">
        <p class="experience-entitled">
          BTS Conception de produit industriels
        </p>
        <p>
          Lycée des IRIS à Lormont
        </p>
      </div>
      <div>
        <p>2008-2010</p>
      </div>
    </div>
    <div class="experience">
      <div class="experience-frame">
        <p class="experience-entitled">
          Baccalauréat Sciences et Technologies Industrielles génie mécanique
        </p>
        <p>
          Lycée des IRIS à Lormont
        </p>
      </div>
      <div>
        <p>2008</p>
      </div>
    </div>
  </div>
</div>



<!--
2012 Licence professionnelle Systèmes embarqués, systèmes mécatroniques et éco-conception à
l’université Paris Est Créteil Val de Marne (licence interrompue au bout de 4 mois pour non
obtention de contrat d’apprentissage avec une entreprise).
2008/2010 BTS Conception de produit industriels au lycée des IRIS à Lormont (33).
2008 Baccalauréat Sciences et Technologies Industrielles génie mécanique, option Productique au lycée
des IRIS à Lormont (33).
Langue Anglais niveau lycée (incluant lecture de document industriel).
 -->
