---
title: Denis Giraud
---
<div id="heading">
  <div>
    <h2>Hi, i am</h2>
    <h1>
      Denis Giraud
    </h1>
    <h2>I am a junior web developer</h2>
  </div>
</div>
<div class="padded">
  <div class="container">
    <h3>About me</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae
      culpa dolore voluptatum minus unde quisquam illo, recusandae assumenda
      porro deleniti architecto commodi ipsam ad. Nobis corporis, earum. Dolore,
      non fugiat. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      Recusandae hic nesciunt similique fugit quia cumque quasi error facilis
      nobis, ex explicabo expedita, tenetur, repellendus iusto enim,
      assumenda illo neque vero.
    </p>
  </div>
</div>
<div class="color-container padded">
  <div class="container">
    <h3>Skills</h3>
    <ul class="list-inline">
      <li>ruby/rails</li>
      <li>html</li>
      <li>css</li>
    </ul>
  </div>
</div>
<div class="padded">
  <div class="container">
    <h3>Experience</h3>
    <div class="experience">
      <div class="experience-frame">
        <p class="experience-frame-entitled">
          Bootcamp Web Developer
        </p>
        <p>
          Le Wagon Bordeaux
        </p>
      </div>
      <div class="experience-years">
        <p>2017</p>
      </div>
    </div>
    <div class="experience">
      <div class="experience-frame">
        <p class="experience-frame-entitled">
          Interim
        </p>
        <p>
          Different tasks in the following activity:
        </p>
        <ul>
          <li>Construction</li>
          <li>Agricultural maintenance</li>
          <li>Packaging</li>
          <li>Manhandling</li>
        </ul>
      </div>
      <div class="experience-years">
        <p>2013-2017</p>
      </div>
    </div>
    <div class="experience">
      <div class="experience-frame">
        <p class="experience-frame-entitled">
          Professional license Embedded systems, mechatronic systems and eco-design
        </p>
        <p>
          Interrupted after 4 months of school due to lack of a contract of apprenticeship.
        </p>
      </div>
      <div class="experience-years">
        <p>2012</p>
      </div>
    </div>
    <div class="experience">
      <div class="experience-frame">
        <p class="experience-frame-entitled">
          Interim
        </p>
        <p>
          Different tasks in the following activity:
        </p>
        <ul>
          <li>Construction</li>
          <li>Agricultural maintenance</li>
          <li>Packaging</li>
          <li>Manhandling</li>
        </ul>
      </div>
      <div class="experience-years">
        <p>2011-2012</p>
      </div>
    </div>
    <div class="experience">
      <div class="experience-frame">
        <p class="experience-frame-entitled">
          BTS Industrial product design
        </p>
        <p>
          High school Les IRIS in Lormont
        </p>
      </div>
      <div class="experience-years">
        <p>2008-2010</p>
      </div>
    </div>
    <div class="experience">
      <div class="experience-frame">
        <p class="experience-frame-entitled">
          Baccalauréat Science and Industrial Technologies
        </p>
        <p>
          High school Les IRIS in Lormont
        </p>
      </div>
      <div class="experience-years">
        <p>2008</p>
      </div>
    </div>
  </div>
</div>
